a{
    text-decoration: none;
    color: white;
    background-color: black;
   
}
h1{
    text-align: center;
    font-size: 500%;
    color: white;
    border: 3px black solid;
    background-color: black;
}
body{
    margin: 0;
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

img{
    width: 10%;
    border: 5px rgb(184, 180, 180) solid;
}.columna2{
    position: relative;
    left: 20%;
    bottom: 105%;
}